Pillow
PyPDF2
chromadb
customtkinter
opencv-python
python-decouple
deepface
python-docx
python-dotenv
duckduckgo_search
edge_tts
fastapi
flask
flask_cors
google-auth
google-auth-oauthlib
google-api-python-client
langchain-chroma
langchain-community
langchain-core
langchain-ollama
langchain-openai
langchain-text-splitters
langgraph
loguru
mcp
numpy
pandas
pocketsphinx
psutil
psycopg2
PyAudio
PyAutoGUI
PyGetWindow
pyngrok
pypdf
pyttsx3
pywhatkit
qrcode
requests
scapy
schedule
sentence-transformers
sounddevice
SpeechRecognition
python-telegram-bot
uvicorn
vosk
wikipedia
PyYAML
